[Unit]
Description=Telegram Sun Activity Bot
After=network.target

[Service]
ExecStartPre=/bin/sleep 1
Type=simple
# Don't forget to set the User and Group
User=fred
Group=staff
Restart=always
# Modify for different location of Python3 or location of files
ExecStart=/usr/local/bin/sunbot

[Install]
WantedBy=multi-user.target
